.photo-grid{
    display: inline-grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    margin: 118px 48px 92px;
    width: 90%;
    height: 442px;
}