.places{
    margin: 0 148px 0 145px;
    max-width: 984px;
}

@media screen and (max-width: 1279px){
    .places{
        margin: 0px auto 10px;
    }
}

@media screen and (max-width: 320px){
    .places{
        margin-bottom: 12px;
        max-width: 288px;

    }
}
