.place__article{
    max-width: 500px;
    grid-area: article;
}

@media screen and (max-width:767px){
    .place__article{
        max-width: 288px; 
    }
}

@media screen and (max-width:320px){
    .place__article{
        max-width: 288px;
    }
}