.place{
    margin-bottom: 80px;
    padding: 0;
    max-width: 984px;
    max-height: 830px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}


@media screen and (max-width: 1220px) {
    .place{
    max-width: 720px; 
    max-height: 814px;
    column-gap: 10px;
    
    }
}