.group__subtitle{
margin: 32px 0 32px;
width: 280px;
height: 66px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .group__subtitle{
margin: 16px 20px;
width: 280px;
height: 48px;
font-size: 14px;
line-height: 16px;
    }}