.lead__title{
    margin: 0px auto 32px;
    max-width: 793px;
    min-width: 320px;
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
}