.footer__copyright{
margin: 92px auto 0;
padding-bottom: 24px;
width: 165px;
height: 16px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
}