.place__NFT-link{
    max-width: 208px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: auto;
    text-decoration: none;
}