.place__nft-link{
    max-width: 248px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: auto 0;
    text-decoration: none;
    background-color: #0278FE;
    padding: 13px 0;
    border-radius: 4px;
    text-align: center;
}

@media screen and (max-width: 767px){
    .place__nft-link{
        margin: auto;
        padding: 13px 20px;
    }
}

@media screen and (max-width: 320px){
    .place__nft-link{
        margin: auto 16px;
        max-width: 288px;
        padding: auto;
    }
}

.place__nft-link:hover{
    background: #0063D2;
    transition: ease-in-out 2s;
}