.place__NFT-link{
    width: 208px;
    height: 22px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;
    text-decoration: none;
}