.place__nft-link{
    max-width: 288px;
    font-style: semi-bold;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: auto 0;
    text-decoration: none;
    background-color: #0278FE;
    padding: 13px 20px;
    border-radius: 4px;
    align-self: start;
    text-align: center;
}


@media screen and (max-width: 320px){
    .place__nft-link{
        padding: 13px 40px;
        margin: auto;
    }
}

.place__nft-link:hover{
    background: #0063D2;
    transition: ease-in-out 2s;
}