.intro{
    margin: 0 347px 0 148px;
    max-width: 785px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1080px) {
    .intro{
    margin: auto 24px auto 24px;  
    max-width: 720px;
    min-height: 548px;
    }
}
@media screen and (max-width:320px) {
    .intro{
    margin: auto 16px auto 16px;  
    max-width: 288px;
    min-height: 886px;
    }
}