.cover{
    position: relative;
    margin: 12px auto 92px;
    width: 1184px;
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image:url(../../images/cover/__background.png);
}

.cover:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) , url(../../images/cover/__background.png);
}
