.place__NFT-frame{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 48px;
    width: 248px;
    height: 48px;
    background: #0278FE;
    border-radius: 4px;
}

.place__NFT-frame:hover{
    background: #0063D2;
}