.place{
    color: #FFFFFF;
    display: grid;
    margin-bottom: 80px;
    grid-column-gap: 40px;
    grid-template-areas: 
    "title  article"
    "image  article"
    "NFT    article"
    ".      article";
}

@media screen and (max-width: 767px){
    .place{
   grid-column-gap: 28px;
    }
}

@media screen and (max-width: 670px){
    .place{
        grid-template-areas:
        "title"
        "image"
        "article"
        "NFT";   
    }
}
@media screen and (max-width: 320px){
    .place{max-width: 288px;}}