.place__website{
    grid-area: artist;
    margin: 0 0;
    align-self: end;
}

@media screen and (max-width: 1279px){
    .place__website{
        margin-top: 0;
    }
}

@media screen and (max-width: 320px){
    .place__website {
        margin: 30px 16px;
        max-width: 90vw;
    }
}
