.group__link{
    margin: auto;
    width: 97px;
    height: 22px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
.group__link{
 width: 97px;
height: 22px;
font-size: 18px;
line-height: 22px;
}}